

.review-container{
    text-align: center;
}

.review-container h2{
    margin-bottom: 1rem;
}

.review-container p{
    font-size: .9rem;
    margin-bottom: 0.5rem;
    margin-top: 1.234rem;
}

.review-container h3{
    margin: 1rem 0;
}

.review-error{
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 0.3rem;
}

.review-error span{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: red;
}

.review-data{
    text-align: left;
    margin-top: 6px;
}

.review-data span{
    font-weight: bold;
}


